@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    /* 또는 직접 색상 클래스를 사용할 수도 있습니다 */
    /* @apply bg-white dark:bg-slate-950; */
  }
}
